<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Jovian Careers</title>
    {% include 'styles.html' %}
  </head>
  <body>
    {% include 'header.html' %}
    <img class="img-fluid banner" src="/static/images/image.jpg" height="320" />
    <div class="container">
      <!-- Templating syntax -> jinja2 -->
      <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
      <div class='row' style='margin-bottom:60px;'>
        <div class="col-md-6">
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
            consectetur deserunt doloribus eius eos et explicabo facilis, magni
            molestiae numquam, officia quia, repellendus repudiandae soluta suscipit
            tempore temporibus veritatis vitae
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
            consectetur deserunt doloribus eius eos et explicabo facilis, magni
            molestiae numquam, officia quia, repellendus repudiandae soluta suscipit
            tempore temporibus veritatis vitae
          </p>
        </div>
        <div class="d-none d-md-block col-6">
          <img src="/static/images/people.jpg" style='height:350px; border-radius:4px;' alt="">
        </div>
      </div>
      <h2 class="mt-2 mb-4">Open Positions</h2>
      <div>
        {% for i in jobs %} 
          {% include 'jobs.html' %}
        {% endfor %}
      </div>
      <div style="text-align: center">
        <a href='mailto:r33t4m@gmail.com?subject=Questions%20regarding%20job&body=Name%20%3A%0D%0AEmail%20%3A%0D%0AQuery%20%3A' class="btn btn-primary btn-lg">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
