<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Jovian Careers</title>
    <link rel="stylesheet" href="../static/styles/style.css">
  </head>
  <body>
    <div class="container">
      <h1>Jovian Careers</h1>
      <img class="banner" src="../static/image.jpg" height="320" />
      <h2>About Jovian</h2>
      <p class='body-text'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
        consectetur deserunt doloribus eius eos et explicabo facilis, magni
        molestiae numquam, officia quia, repellendus repudiandae soluta suscipit
        tempore temporibus veritatis vitae
      </p>
      <h2>Open Positions</h2>
      <p class='body-text'>TODO - Show Jobs here</p>
      <div style="text-align: center;">
        <button>Contact Us</button>
        <p>Copyright 2022, Jovian</p>
      </div>
    </div>
  </body>
</html>
